/* body{
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.top{
    display: flex;
    justify-content: space-between;
}

.top img{
    cursor: pointer;
}

.top h1{
    font-size: 32px;
    font-weight: 600;
}

.container{
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.upr1{
    display: flex;
    gap: 12px;
}

.lwr1{
    display: flex;
    gap: 20px;
}
.upper{
    display: flex;
    gap: 80px;

    font-size: 14px;
    font-weight: 600;
  
}

.lower{
    display: flex;
    gap: 80px;
    font-size: 14px;
    font-weight: 600;
    
}

.para{
    text-decoration: underline;
}
.middle{
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 14px;
    font-weight: 400;
}

hr{
     color: #ddd;
     opacity: 0.2;
}

.bottom{
    padding-top: 5px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
} */