
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;  
  scrollbar-width: none;     
}
/* thin scrollbar */
.scrollbar::-webkit-scrollbar {
  width: 4px;
}

/* scrollbar thumb */
.scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(150,150,150,0.5);
  border-radius: 10px;
}

/* hide scrollbar track */
.scrollbar::-webkit-scrollbar-track {
  background: transparent;
}